{% set tab_layout_js %}
  {% include "./tab-layout.js" %}
{% endset %}

<script>
  {{ tab_layout_js | jsmin | safe }}
</script>

{% from "../table-of-contents/table-of-contents.njk" import generateToc %}

<div id="main-tab-layout" class="[ temp-container ] [ mu-p-05 mu-p-md-06 mu-p-lg-07 mu-py-xl-07 mu-px-xl-08 ]">
  <mcc-tabs class="mcc-tabs--bar">
    {% for tab in tabs %}
      <mcc-tab-pane class="mu-mt-05" label="{{ tab.title.toLowerCase() }}">
        {% if tab.hook %}
          <article>
            {% include "./" + page.url.split('/')[1] + "/" + tab.hook + ".njk" %}
          </article>
        {% else %}
          <article>
            {{ generateToc(tab.body) }}
            <div class="temp-content-chunk">
              {{ tab.body | markdownify | safe }}
            </div>
          </article>
        {% endif %}
      </mcc-tab-pane>
    {% endfor %}
  </mcc-tabs>
</div>