<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#1078cf">

    {% include "./partials/favicons.njk" %}
  
    {% set css %}
      {% include "../assets/css/mosaic-global.css" %}
      {% include "../assets/css/core.css" %}
      {% include "../assets/css/forms.css" %}
      {% include "../assets/css/mosaic-utilities.css" %}
      {% include "../assets/css/prism-okaidia.css" %}
      {% include "../assets/css/site.css" %}
      {% include "../assets/css/fonts.css" %}
    {% endset %}

    <style>
      {{ css | cssmin | safe }}
    </style>

    <title>
      {{title}}
    </title>
    {% if description %}
      <meta name="description" content="{{description}}"/>
    {% endif %}
  </head>
  <body>

    {% include "./skip-to/skip-to.njk" %}

    <header class="[ mcc-navigation-header ] [  mu-position-fixed mu-top-0 mu-start-0 mu-end-0 ] [ mu-w-100 ]" aria-label="Advanced Product" role="banner">

      <nav class="mcc-navigation-header__nav" style="gap: 0.25rem;">
        <button id="drawer-toggle" class="[ mcc-navigation-header__button mcc-navigation-header__button--icon-only ]">
          <mcc-icon name="hide_sidepanel" icon-set="fluency-outline" aria-hidden="true"></mcc-icon>
          <mcc-icon name="show_sidepanel" icon-set="fluency-outline" aria-hidden="true"></mcc-icon>
          <span>Toggle navigation drawer</span>
        </button>

        <span class="mu-d-lg-none mu-ml-02 mu-fw-semi-bold mu-text-default">MDS</span>

        {# <a href="/" class="mu-d-none mu-d-lg-flex mu-align-items-center mu-ml-lg-03 mu-ml-xl-05">
          <span class="mds-site-name-logo mu-d-flex mu-align-items-center mu-mr-04">{% include "./partials/logo.njk" %}</span>
          <span class="mu-fw-semi-bold mu-text-default">Mosaic Design System</span>
        </a> #}

        <a href="/" class="[ mcc-navigation-header__button ] mu-d-none mu-d-lg-flex">
          <span class="mds-site-name-logo mu-d-flex mu-align-items-center">{% include "./partials/logo.njk" %}</span>
          <span class="mu-fw-semi-bold mu-text-default">Mosaic Design System</span>
        </a>
      </nav>

      <nav class="mcc-navigation-header__global">
        {% include "./search/search-button.njk" %}
        {% include "./theme-toggle/theme-toggle.njk" %}
        {% include "./switch-sites/switch-sites.njk" %}
      </nav>
    </header>

    <div class="[ mcc-drawer-frame ] [ mcc-drawer-frame--nav-header-adjust ]">

      <mcc-drawer id="site-nav-drawer" class="[ mcc-drawer mcc-drawer--start mcc-drawer--open ] [ mds-drawer--nav-header-adjust ]" type="dismissible">
        <div class="mu-d-flex mu-flex-column">
          
          <div class="[ mds-site-name ] [ mu-d-flex mu-d-lg-none mu-align-items-center mu-px-06 mu-border-bottom  ]">
            <span class="[ mds-site-name-logo ] [ mu-d-flex mu-align-items-center mu-mr-04 ]">{% include "./partials/logo.njk" %}</span>
            <span class="mu-fw-semi-bold mu-text-default">MDS</span>
          </div>
          
          {% include "./navigation/navigation.njk" %}
        </div>
      </mcc-drawer>

      <div id="maincontent" class="mcc-drawer-app-content mcc-drawer-app-content--nav-header-adjust" tabindex="0">

        <main>

          <article>

            <header class="mcc-page-header mu-px-00 mu-py-07 mu-mb-07">
              <div class="[ mds-container ] [ mu-p-05 mu-p-md-06 mu-p-lg-07 mu-py-xl-07 mu-px-xl-08 ]">
                <div class="mu-py-07">
                  <h1 class="mu-display-heading-1 mu-mb-00">{{ title }}</h1>
                  {% if chips %}
                    <div class="mu-d-flex mu-mt-02" style="gap: 0.5rem;">
                      {% for chip in chips %}
                        <span class="mcc-chip mcc-chip--primary mcc-chip--xs">{{ chip }}</span>
                      {% endfor %}
                    </div>
                  {% endif %}
                </div>
              </div>
            </header>

            {% if tabs and tabs.length %}
              {% include "./tab-layout/tab-layout.njk" %}
            {% else %}
              <section class="[ mds-container ] [ mu-p-05 mu-p-md-06 mu-p-lg-07 mu-py-xl-08 mu-px-xl-08 ]">
                <div class="mds-content-chunk">
                  {% if toc == true %}
                    {% from "./table-of-contents/table-of-contents.njk" import generateToc %}
                    {{ generateToc(content) }}
                  {% endif %}
                  {{ content | safe }}
                </div>
              </section>
            {% endif %}

            <footer>
      
              {% set previous = collections.globalCollection | getPreviousCollectionItem(page) %}
              {% set next = collections.globalCollection | getNextCollectionItem(page) %}

              <div class="[ mds-container ] [ mu-d-flex mu-mb-09 mu-p-05 mu-p-md-06 mu-p-lg-07 mu-py-xl-07 mu-px-xl-08 ]">
                <div class="mcc-button-group mcc-button-group--lg" role="group" aria-label="Navigation buttons">
                  {% if previous %}
                    <a class="mcc-button mcc-button--outline" href="{{ previous.url }}">
                      <mcc-icon name="left_arrow" icon-set="fluency-outline" aria-hidden="true"></mcc-icon>
                      <span class="mcc-button__label">
                        {{ previous.data.title }}
                      </span>
                    </a>
                  {% endif %}
                  {% if next %}
                    <a class="mcc-button mcc-button--outline" href="{{ next.url }}">
                      <span class="mcc-button__label">{{ next.data.title }}</span>
                      <mcc-icon name="right_arrow" icon-set="fluency-outline" aria-hidden="true"></mcc-icon>
                    </a>
                  {% endif %}
                </div>
              </div>
            
            </footer>

          </article>

        </main>

        {% include "./partials/footer.njk" %}
  
      </div>

    </div>

    {% include "./back-to-top/back-to-top.njk" %}

    {% include "./search/search-dialog.njk" %}

    <script src="{% js "drawer-states.js" %}" type="module"></script>
    <script src="{% js "theme-toggle.js" %}" type="module"></script>
    <script src="{% js "web-components.js" %}" type="module"></script>

    {% if path == "home" %}
      <!-- Netlify Identity Widget -->
      <!-- Needed only if you are using Netlify Identity feature -->
      <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    {% endif %}

  </body>
</html>
