<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet"> 

    {% include "./partials/favicons.njk" %}
  
    {% set css %}
      {% include "../assets/css/mosaic-global.css" %}
      {% include "../assets/css/core.css" %}
      {% include "../assets/css/forms.css" %}
      {% include "../assets/css/mosaic-utilities.css" %}
      {% include "../assets/css/prism-okaidia.css" %}
      {% include "../assets/css/site.css" %}
    {% endset %}

    <style>
      {{ css | safe }}
    </style>

    <title>
      {{title}}
    </title>
    {% if description %}
      <meta name="description" content="{{description}}"/>
    {% endif %}
  </head>
  <body>

    <a class="mds-skip-to" href="#maincontent">Skip to main content</a>
    <a class="mds-skip-to" href="#navigation">Skip to navigation</a>

    <header class="[ mcc-navigation-header ] [  mu-top-0 ]" aria-label="Advanced Product" role="banner">
      {% include "./partials/site-name.njk" %}
      <nav class="mcc-navigation-header__global">
        
        {% include "./search/search-button.njk" %}
        {% include "./theme-toggle/theme-toggle.njk" %}
        {% include "./switch-sites/switch-sites.njk" %}
      </nav>
    </header>

    <div class="[ mcc-drawer-frame ] [ mds-drawer-frame--nav-header-adjust ]">

      <mcc-drawer id="site-nav-drawer" class="[ mcc-drawer mcc-drawer--start mcc-drawer--open ] [ mds-drawer--nav-header-adjust ]" type="dismissible">
        {% include "./navigation/navigation.njk" %}
      </mcc-drawer>

      <div id="maincontent" class="mcc-drawer-app-content" tabindex="0">

        <main>

          <article>

          {# <button class="mcc-navigation-header__button" onclick="toggleDrawer()">
            <mcc-icon name="menu" aria-hidden="true"></mcc-icon>
            <span>Toggle drawer</span>
          </button> #}

            <header class="mcc-page-header mu-px-00 mu-py-07 mu-mb-07">
              <div class="[ temp-container ] [ mu-p-05 mu-p-md-06 mu-p-lg-07 mu-py-xl-07 mu-px-xl-08 ]">
                <div class="mu-py-07">
                  <h1 class="mu-display-heading-1 mu-mb-00">{{ title }}</h1>
                  {% if chips %}
                    <div class="mu-d-flex mu-mt-02" style="gap: 0.5rem;">
                      {% for chip in chips %}
                        <span class="mcc-chip mcc-chip--primary mcc-chip--xs">{{ chip }}</span>
                      {% endfor %}
                    </div>
                  {% endif %}
                </div>
              </div>
            </header>

            {% if tabs and tabs.length %}
              {% include "./tab-layout/tab-layout.njk" %}
            {% else %}
              <section class="[ temp-container ] [ mu-p-05 mu-p-md-06 mu-p-lg-07 mu-py-xl-08 mu-px-xl-08 ]">
                <div class="temp-content-chunk">
                  {% from "./table-of-contents/table-of-contents.njk" import generateToc %}
                  {{ generateToc(content) }}
                  {{ content | safe }}
                </div>
              </section>
            {% endif %}

            <footer>
      
              {% set previous = collections.globalCollection | getPreviousCollectionItem(page) %}
              {% set next = collections.globalCollection | getNextCollectionItem(page) %}

              <div class="[ temp-container ] [ mu-d-flex mu-mb-09 mu-p-05 mu-p-md-06 mu-p-lg-07 mu-py-xl-07 mu-px-xl-08 ]">
                <div class="mcc-button-group mcc-button-group--lg" role="group" aria-label="Navigation buttons">
                  {% if previous %}
                    <a class="mcc-button mcc-button--outline" href="{{ previous.url }}">
                      <mcc-icon name="left_arrow" icon-set="fluency-outline" aria-hidden="true"></mcc-icon>
                      <span class="mcc-button__label">
                        {{ previous.data.title }}
                      </span>
                    </a>
                  {% endif %}
                  {% if next %}
                    <a class="mcc-button mcc-button--outline" href="{{ next.url }}">
                      <span class="mcc-button__label">{{ next.data.title }}</span>
                      <mcc-icon name="right_arrow" icon-set="fluency-outline" aria-hidden="true"></mcc-icon>
                    </a>
                  {% endif %}
                </div>
              </div>
            
            </footer>

          </article>

        </main>

        {% include "./partials/footer.njk" %}
  
      </div>

    </div>

    {% include "./back-to-top/back-to-top.njk" %}

    {% include "./search/search-dialog.njk" %}

    <script>
      function toggleDrawer () {
        const drawer = document.getElementById('site-nav-drawer')
        drawer.classList.contains('mcc-drawer--open') ? drawer.close() : drawer.open()
      }
    </script>

    <script src="{% js "web-components.js" %}" type="module"></script>


    {% if path == "home" %}
      <!-- Netlify Identity Widget -->
      <!-- Needed only if you are using Netlify Identity feature -->
      <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    {% endif %}

  </body>
</html>
