---
  layout: default.njk
  collection: Mosaic
---

<article>

  <header class="mcc-page-header mu-px-00 mu-py-07 mu-mb-07">
    <div class="[ mds-container ] [ mu-p-05 mu-p-md-06 mu-p-lg-07 mu-py-xl-07 mu-px-xl-08 ]">
      <div class="mu-py-07">
        <h1 class="mu-display-heading-1 mu-mb-00">{{ title }}</h1>
      </div>
    </div>
  </header>

  <section class="[ mds-container ] [ mu-p-05 mu-p-md-06 mu-p-lg-07 mu-py-xl-08 mu-px-xl-08 ]">
    <div class="mds-content-chunk">
      {% if toc == true %}
        {% from "./table-of-contents/table-of-contents.njk" import generateToc %}
        {{ generateToc(content) }}
      {% endif %}
      {{ content | safe }}

      {% include "./team-member/team-member.njk" %}

    </div>
  </section> 

  {% include "./partials/article-footer.njk" %}

</article>