{% set js %}
  {% include "./code.js" %}
{% endset %}

<script>
  {{ js | safe }}
</script>

<div class="temp-content-chunk">
  {% if storybook %}
    <div class="[ mcc-alert mcc-alert--info ] [ mu-mb-09 ]" role="alert">
      <p class="mu-mb-00">For live examples and API documentation, see <a href="{{ storybook }}" target="_blank">Storybook</a></p>
    </div>
  {% endif %}
</div>

<!-- code content -->
<div class="temp-content-chunk">{{ code.body | markdownify | safe }}</div>

<!-- container for displaying component preview with variants etc.. -->
<div class="[ mcc-card mcc-card--high-emphasis ] [ component-preview ]">
  <!-- 'header' section for switching variants etc.. -->
  <div class="mcc-card__header">
    <h2 id="variant-name" class="[ mcc-card__title ] [ mu-mb-05 ]">Select variant</h2>
    <details id="variant-selector" class="mcc-dropdown">
      <summary class="mcc-button mcc-button--sm mcc-button--primary" aria-haspopup="true">
        <span class="mcc-button__label">Variant selector</span>
        <mcc-icon class="mcc-button__dropdown-caret" name="angle_down" aria-hidden="true"></mcc-icon>
      </summary>
      <ul class="mcc-dropdown__menu">

        {% for variant in code.preview.variants %}
          <li>
            <button type="button" onclick="showVariant('{{ variant.name }}')">
              <div>{{ variant.name }}</div>
            </button>
          </li>
        {% endfor %}

      </ul>
    </details>
  </div>

  {% for variant in code.preview.variants %}
    <div id="{{ variant.name | snake_case_filter }}" class="[ mcc-card__body ] [ variant-container ] [ mu-d-none ]" style="gap: 2rem;">
      <!-- preview panel for displaying component -->
      <div class="[ mcc-card ] [ variant-template ] [ mu-flex-grow-1 ] [ mu-d-flex mu-justify-content-center mu-align-items-center ]" style="position: relative; overflow: hidden;">
        {{ variant.template.code | safe }}
      </div>
      <!-- options panel for switching modifiers -->
      <div class="variant-modifiers" style="width: 240px;">

          {% for modifier in variant.modifiers %}
            
            <form class="[ class-form ] [ mu-mb-05 ]">
              <fieldset class="mfc-fieldset">
                <legend>{{ modifier.name }}</legend>
                {% for class in modifier.classes  %}
                  <div class="[ mfc-radio-wrapper ] [ mu-mb-03 ]">
                    <input
                      id="{{ variant.name | snake_case_filter }}_{{ modifier.name | snake_case_filter }}_{{ class.name | snake_case_filter }}"
                      name="{{ variant.name | snake_case_filter }}_{{ modifier.name | snake_case_filter }}"
                      type="radio"
                      onchange="modifyVariant({{ variant.template.code | stringify_filter }})"
                      data-selector={{ modifier.selector }}
                      data-value={{ class.value }}>
                    <label for="{{ variant.name | snake_case_filter }}_{{ modifier.name | snake_case_filter }}_{{ class.name | snake_case_filter }}">
                      {{ class.name }}
                    </label>
                  </div>
                {% endfor %}
              </fieldset>
            </form>
          {% endfor %}

          <!-- attributes -->
          {% if variant.attributes %}
            <form class="attribute-form">
              <fieldset class="mfc-fieldset">
                <legend>Attributes</legend>
                {% for attribute in variant.attributes %}
                  <div class="[ mfc-checkbox-wrapper ] [ mu-mb-03 ]">
                    <input
                      id="{{ variant.name | snake_case_filter }}_{{ attribute.name | snake_case_filter }}"
                      name="{{ variant.name | snake_case_filter }}_{{ attribute.name | snake_case_filter }}"
                      type="checkbox"
                      onchange="modifyVariant({{ variant.template.code | stringify_filter }})"
                      data-selector={{ attribute.selector }}
                      data-attribute-details={{ attribute | stringify_filter }}>
                    <label for="{{ variant.name | snake_case_filter }}_{{ attribute.name | snake_case_filter }}">{{ attribute.name }}</label>
                  </div>
                {% endfor %}
              </fieldset>
            </form>
          {% endif %}

      </div>
    </div>
  {% endfor %}

</div>
