<div class="mu-bg-container-02 mu-radius-02 mu-border mu-p-06 mu-p-md-07 mu-p-xl-08">
  <div class="mu-mb-auto">
    <span class="mu-text-uppercase mu-text-muted mu-fs-sm mu-fw-semi-bold">I am a</span>
    <h2 class="mu-mb-05">Designer</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
  </div>
  <button class="mcc-button mcc-button--outline mcc-button--sm">
    <span class="mcc-button__label">Get drawing</span>
  </button>
</div>