.mcc-page-header--navbar-adjust {
  top: var(--navbar-height);
}

/* body {
  font-weight: 400;
} */

/* article ul > li {
  margin-bottom: 1.25rem;
} */

.mcc-sheet--offset {
  flex: 1;
}

.mcc-drawer {
  position: fixed;
  left: 0;
}

:root {
  --mcc-drawer-width: 280px;
  --mcc-drawer-offset: 160px;
  --navbar-height: 4rem
}

@media (min-width: 960px) {
  .mcc-sheet.mcc-sheet--in-view.mcc-sheet--left + .mcc-sheet-scrim {
    visibility: hidden;
  }
  .mcc-sheet.mcc-sheet--in-view.mcc-sheet--left ~ .mcc-sheet--offset {
    margin-left: var(--mcc-drawer-width, 256px);
  }
}

/* table of contents */
.toc ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 64px;
}

/* content chunk width */
.temp-content-chunk p,
.temp-content-chunk ul,
.temp-content-chunk ol,
.temp-content-chunk hr,
.temp-content-chunk pre {
  max-width: 42rem;
}

/* content chunk spacing */
.temp-content-chunk > * + * {
  margin-top: var(--content-chunk-space, 1rem)
}
.temp-content-chunk h2:not(:first-of-type) {
  --content-chunk-space: 48px;
}
.temp-content-chunk h3 {
  --content-chunk-space: 48px;
}
.temp-content-chunk hr {
  --content-chunk-space: 48px;
  margin: var(--content-chunk-space) 0;
}
.temp-content-chunk .component-preview {
  --content-chunk-space: 48px;
}
.temp-content-chunk pre {
  --content-chunk-space: 48px;
}

/* content chunk anchor links */
.direct-link {
  color: var(--ui-05);
  visibility: hidden;
}
:focus > a[href].direct-link,
:focus > a[href].direct-link:visited,
:hover > a[href].direct-link,
:hover > a[href].direct-link:visited,
a[href].direct-link:focus,
a[href].direct-link:focus:visited {
  visibility: visible;
}

/* scroll position */
html {
  scroll-padding-top: calc(var(--navigation-header-height) + 2rem);
}

/* component preview */
.component-preview {
  min-height: 560px;
  margin-top: 48px;
}

/* container */
.temp-container {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
}

@media (min-width: 1920px) {
  .temp-container {
    max-width: 1300px;
    margin: 0 0 0 var(--mcc-drawer-offset);
  }
}

/* stickey tabs */
.mcc-tabs.mcc-tabs--bar > .md-sticky-tab-nav {
  position: sticky;
  top: var(--navigation-header-height);
  padding-top: 1rem;
  background-color: var(--ui-02, #eeeef1);
}

.mcc-tabs.mcc-tabs--bar > .md-sticky-tab-nav::before,
.mcc-tabs.mcc-tabs--bar > .md-sticky-tab-nav::after {
  position: absolute;
  top: 0;
  height: 100%;
  width: 0.5rem;
  background-color: var(--ui-02, #eeeef1);
  content: "";
}

.mcc-tabs.mcc-tabs--bar > .md-sticky-tab-nav::before {
  left: -0.5rem;
}

.mcc-tabs.mcc-tabs--bar > .md-sticky-tab-nav::after {
  right: -0.5rem;
}

/* theme toggle */
#theme-toggle.dark-theme-set mcc-icon:nth-child(1) {
  display: none;
}
#theme-toggle:not(.dark-theme-set) mcc-icon:nth-child(2) {
  display: none;
}