/* tessera media queries */
/* 
  xs: 0
  sm: 576px
  md: 768px
  lg: 992px
  xl: 1280px
  xxl: 1440px
  xxxl: 1920px
*/

:root {
  --mcc-drawer-offset: 160px;
}



/* table of contents
.toc ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 64px;
} */

/* content chunk width */
.temp-content-chunk :is(hr, pre, table, .mcc-alert) {
  max-width: 48rem;
}
.temp-content-chunk :is(p, ul, ol, .mcc-accordion) {
  max-width: 42rem
}

/* content chunk spacing */
.temp-content-chunk > * + * {
  margin-top: var(--content-chunk-space, 1rem)
}
.temp-content-chunk :is(h2:not(:first-of-type), h3, .mds-component-preview, pre, table, blockquote) {
  --content-chunk-space: 48px;
}
.temp-content-chunk hr {
  --content-chunk-space: 48px;
  margin: var(--content-chunk-space) 0;
}
.temp-content-chunk > .mcc-accordion {
  --content-chunk-space: 40px;
  margin: var(--content-chunk-space) 0;
}

/* content chunk anchor links */
.direct-link {
  color: var(--ui-05);
  visibility: hidden;
}
:focus > a[href].direct-link,
:focus > a[href].direct-link:visited,
:hover > a[href].direct-link,
:hover > a[href].direct-link:visited,
a[href].direct-link:focus,
a[href].direct-link:focus:visited {
  visibility: visible;
}

/* scroll position */
html {
  scroll-padding-top: calc(var(--navigation-header-height) + 2rem);
}

/* component preview */
.mds-component-preview {
  min-height: 560px;
  margin-top: 48px;
}

/* container */
.temp-container {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
}

@media (min-width: 1920px) {
  .temp-container {
    max-width: 1300px;
    margin: 0 0 0 var(--mcc-drawer-offset);
  }
}


/* drawer offset */
@media (min-width: 993px) {
  .mcc-drawer.mds-drawer--nav-header-adjust {
    top: var(--navigation-header-height);
    min-height: calc(100vh - var(--navigation-header-height)) !important;
    height: calc(100vh - var(--navigation-header-height)) !important;
  }  
}



/* nav drawer frame offset */
.mcc-drawer-frame.mds-drawer-frame--nav-header-adjust {
  padding-top: var(--navigation-header-height);
  /* height: calc(100vh - var(--navigation-header-height)); */
}

.mcc-drawer-app-content {
  height: calc(100vh - var(--navigation-header-height));
}

/* .mcc-drawer-app-content > main {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  width: 100%;
} */

.mds-site-name-logo svg {
  height: 24px;
}





/* temp */
/* .mcc-navigation-header {
  left: 0;
  position: fixed;
  right: 0;
} */

/* @media (min-width: 768px) and (max-width: 1279px ) {
  .mcc-navigation-header {
    padding: 8px 12px;
  }
} */

.mds-site-name {
  height: var(--navigation-header-height);
}

.mcc-drawer-app-content {
  min-height: 100%;
  height: calc(100vh - var(--navigation-header-height));
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 100%;
}

.variant-container {
  grid-template-columns: 1fr minmax(0, max-content);
}

.mcc-drawer-app-content {
  overflow: unset;
}