/* .mcc-page-header--navbar-adjust {
  top: var(--navbar-height);
} */

/* .mcc-sheet--offset {
  flex: 1;
} */

/* .mcc-drawer {
  position: fixed;
  left: 0;
} */

:root {
  --mcc-drawer-offset: 160px;
}

/* @media (min-width: 960px) {
  .mcc-sheet.mcc-sheet--in-view.mcc-sheet--left + .mcc-sheet-scrim {
    visibility: hidden;
  }
  .mcc-sheet.mcc-sheet--in-view.mcc-sheet--left ~ .mcc-sheet--offset {
    margin-left: var(--mcc-drawer-width, 256px);
  }
} */

/* table of contents */
.toc ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 64px;
}

/* content chunk width */
.temp-content-chunk :is(hr, pre, table, .mcc-alert) {
  max-width: 48rem;
}
.temp-content-chunk :is(p, ul, ol) {
  max-width: 42rem
}

/* content chunk spacing */
.temp-content-chunk > * + * {
  margin-top: var(--content-chunk-space, 1rem)
}
.temp-content-chunk :is(h2:not(:first-of-type), h3, .component-preview, pre, table, blockquote) {
  --content-chunk-space: 48px;
}
.temp-content-chunk hr {
  --content-chunk-space: 48px;
  margin: var(--content-chunk-space) 0;
}

/* content chunk anchor links */
.direct-link {
  color: var(--ui-05);
  visibility: hidden;
}
:focus > a[href].direct-link,
:focus > a[href].direct-link:visited,
:hover > a[href].direct-link,
:hover > a[href].direct-link:visited,
a[href].direct-link:focus,
a[href].direct-link:focus:visited {
  visibility: visible;
}

/* scroll position */
html {
  scroll-padding-top: calc(var(--navigation-header-height) + 2rem);
}

/* component preview */
.component-preview {
  min-height: 560px;
  margin-top: 48px;
}

/* container */
.temp-container {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
}

@media (min-width: 1920px) {
  .temp-container {
    max-width: 1300px;
    margin: 0 0 0 var(--mcc-drawer-offset);
  }
}

/* stickey tabs */
.mcc-tabs.mcc-tabs--bar > .md-sticky-tab-nav {
  position: sticky;
  top: var(--navigation-header-height);
  padding-top: 1rem;
  background-color: var(--ui-02, #eeeef1);
}

.mcc-tabs.mcc-tabs--bar > .md-sticky-tab-nav::before,
.mcc-tabs.mcc-tabs--bar > .md-sticky-tab-nav::after {
  position: absolute;
  top: 0;
  height: 100%;
  width: 0.5rem;
  background-color: var(--ui-02, #eeeef1);
  content: "";
}

.mcc-tabs.mcc-tabs--bar > .md-sticky-tab-nav::before {
  left: -0.5rem;
}

.mcc-tabs.mcc-tabs--bar > .md-sticky-tab-nav::after {
  right: -0.5rem;
}

/* theme toggle */
#theme-toggle.dark-theme-set mcc-icon:nth-child(1) {
  display: none;
}
#theme-toggle:not(.dark-theme-set) mcc-icon:nth-child(2) {
  display: none;
}

/* drawer offset */
.mcc-drawer.mds-drawer--nav-header-adjust {
  top: var(--navigation-header-height);
  min-height: calc(100vh - var(--navigation-header-height)) !important;
  height: calc(100vh - var(--navigation-header-height)) !important;
}

/* nav draer frame offset */
.mcc-drawer-frame.mds-drawer-frame--nav-header-adjust {
  margin-top: var(--navigation-header-height);
  height: calc(100vh - var(--navigation-header-height));
}

.mds-site-name-logo svg {
  height: 28px;
}

/* skip to */
.mds-skip-to {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 40px;
  width: 100%;
  border: 4px solid var(--primary);
  padding: 0;
  margin: 0;
  background: var(--container-bg-inverse);
  color: var(--text-inverse);
  transform: translateY(-100%);
  z-index: 3010;
}
.mds-skip-to:focus {
  transform: translateY(0%);
}

/* back to top */
.mds-back-to-top--show {
  position: fixed;
  bottom: var(--spacing-07);
  right: var(--spacing-07);
  z-index: 100;
  opacity: 0;
  transform: translateY(100%);
  transition: all .5s ease
}
.mds-back-to-top--show {
  opacity: 1;
  transform: translateY(0)
}
.mcc-drawer-app-content {
  overflow: unset;
}

/* temp */
.mcc-navigation-header {
  left: 0;
  position: fixed;
  right: 0;
}
body {
  scroll-behavior: smooth;
  background-color: var(--ui-01,#fff);
}

.mcc-page-header {
  background-color: var(--ui-02,#fff);
}

.mcc-footer {
  background-color: var(--ui-02,#fff);
}
