<button class="[ mcc-navigation-header__button ]" onclick="showSearchDialog()">
  <mcc-icon name="search" icon-set="fluency-filled" aria-hidden="true"></mcc-icon>
  <span class="mcc-button__label">Search</span>
  <span class="mcc-chip mcc-chip--soft-info mcc-chip--xs">Ctrl+k</span>
</button>