<div class="mcc-card">
  <div class="mcc-card__header">
    <h2 class="mcc-card__title">Card title</h2>
    <div class="mcc-card__subtitle">Sub title</div>
  </div>
  <div class="mcc-card__body">
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
      dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
      lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit
      esse molestie consequat.
  </div>
  <div class="mcc-card__footer">
    <button class="mcc-button mcc-button--outline mcc-button--sm">
      <mcc-icon name="does-not-exist" aria-hidden="true"></mcc-icon>
      <span class="mcc-button__label">Button</span>
    </button>
  </div>
</div>