<details class="mcc-dropdown mcc-dropdown--sw">
  <summary class="mcc-navigation-header__button" aria-haspopup="true">
    <mcc-icon name="thumbnails" icon-set="fluency-outline" aria-hidden="true"></mcc-icon>
    <span>Switch sites</span>
  </summary>
  <ul class="mcc-dropdown__menu">
    <li>
      <button type="button">
        <div>Developer Portal</div>
      </button>
    </li>
  </ul>
</details>