<button class="mcc-button mcc-button--icon-only mcc-button--primary mds-back-to-top">
  <mcc-icon name="angle_up" aria-hidden="true"></mcc-icon>
</button>

{% set js %}
  {% include "./back-to-top.js" %}
{% endset %}

<script>
  {{ js | jsmin | safe }}
</script>