<footer class="mcc-footer mcc-sheet--offset">
  <div class="[ temp-container ] [ mu-p-05 mu-p-md-06 mu-p-lg-07 mu-py-xl-07 mu-px-xl-08 ]">
    <div class="mcc-nav mcc-nav--vertical mcc-nav--simple mu-flex-column mu-mb-08">
      <a href="#">About</a>
      <a href="#">Contact</a>
      <a href="#">Accessibility</a>
      <a href="#">Terms</a>
      <a href="#">Privacy</a>
    </div>
    <div class="mu-d-md-flex mu-justify-content-between mu-align-items-center mu-flex-row-reverse">
      <div class="mcc-nav mcc-nav--simple">
        <a href="#">
          <mcc-icon name="twitter" icon-set="fluency-outline" aria-hidden="true"></mcc-icon>
        </a>
        <a href="#">
          <mcc-icon name="medium" icon-set="fluency-outline" aria-hidden="true"></mcc-icon>
        </a>
      </div>
      <a class="mu-d-flex mu-align-items-center" href="https://www.oneadvanced.com/" target="_blank">
        <img class="mu-mr-03" src="https://cdn.svc.oneadvanced.com/mosaic/2.0.0/img/logo.svg" alt="One Advanced Logo" width="32" height="32">
        <span>An Advanced creation.</span>
      </a>
    </div>
  </div>
</footer>
