<div class="mu-d-flex mu-align-items-center mu-pl-05 mu-pl-xl-04">
  <img class="mu-d-none mu-d-lg-block mu-mr-04" src="{% img "mosaic-logo.svg" %}" height="28" alt="Advanced Logo">
  <span class="mu-fw-semi-bold">Mosaic Design System</span></span>
</div>