<div class="mu-d-flex mu-align-items-center">
  <span class="mds-site-name-logo mu-d-flex mu-align-items-center mu-mr-04">{% include "./logo.njk" %}</span>
  <span class="mu-fw-semi-bold">Mosaic Design System</span></span>
  <span class="mu-fw-semi-bold">MDS</span></span>
</div>