<div class="[ mds-site-name ] [ mu-d-flex mu-align-items-center mu-pl-05 mu-pl-xl-04 ]">
  <span class="mds-site-name-logo mu-d-flex mu-align-items-center mu-mr-04">{% include "./logo.njk" %}</span>
  <span class="mu-fw-semi-bold">Mosaic Design System</span></span>
</div>