<div class="mfc-input-wrapper">
  <div class="mfc-input-group">
    <input id="site-search" type="text">
    <button class="mcc-button mcc-button--primary mcc-button--icon-only">
      <mcc-icon name="search" aria-hidden="true"></mcc-icon>
      <span class="mcc-button__label">Search</span>
    </button>
  </div>
</div>